<div class="container" id="todo">
  <section class="panel">
    <input type="checkbox" id="mark-all">
    <input type="text" placeholder="What do you want to do?" autofocus class="text-input" v-model="newTask" v-on:keyup.enter="addTask">
    <button v-on:click="clearList">Clear List</button>
  </section>

  <ul class="list">
    <li v-for="task in taskList">
      <input type="checkbox" class="checkbox" v-model="task.checked">
      <label for="checkbox">{{ task.text }}</label>
      <button class="delete" v-on:click="removeTask(task)">X</button>
    </li>
  </ul>
  <pre>{{ $data }}</pre>
